{% extends "home.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Welcome to Note App</h1>
<h2 align="center">Notes</h2>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}</li>
    <form action="{{ url_for('auth.delete_note', note_id=note.id) }}" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% endfor %}
</ul>

<form method="POST">
    <h2 align="center">Note Post</h2>
    <div class="form-group">
        <textarea
            class="form-control"
            id="note"
            name="note"
            placeholder="Enter Note"
            required>
        </textarea>
        <br/>
        <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>
{% endblock %}