{% extends "home.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h2 align="center">Posts</h2>
<ul class="list-group list-group-flush" id="posts">
    {% for post in user.posts %}
    <li class="list-group-item">
        {% if post.image %}
            <img src="{{ url_for('static', filename='/' + post.image) }}" alt="Image" style="width: 100px; height: 100px;">
        {% endif %}
        {{ post.title }} - {{ post.description }}
        <form action="{{ url_for('auth.delete_post', post_id=post.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>

<form id="uploadForm" method="POST" action="{{ url_for('views.new_post') }}" enctype="multipart/form-data">
    <h2 align="center">New Post</h2>
    <div class="form-group">
        <label for="title">Title</label>
        <input 
            type="text" 
            class="form-control" 
            id="title" 
            name="title" 
            required>
        <br/>
        <label for="description">Description</label>
        <textarea 
            class="form-control" 
            id="description" 
            name="description" 
            required>
        </textarea>
        <br/>
        <label for="image">Image</label>
        <input 
            type="file" 
            class="form-control" 
            id="image" 
            name="image" 
            required>
        <br/>
        <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>
<div id="result"></div>

<script>
    document.getElementById('uploadForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);

        const response = await fetch(form.action, {
            method: 'POST',
            body: formData
        });

        const result = await response.json();
        document.getElementById('result').innerText = `Prediction: ${result.prediction}`;
    });
</script>
{% endblock %}