body {
    height: 100vh;
    color: #333;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/ai_example1.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
}

header {
    padding: 0;
    margin: 0;
}

header .input-group-btn button {
    border-radius: 0 8px 8px 0;
}

header button:hover {
    background-color: #4e72b8 !important;
}


main {
    min-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

.sidebar {
    height: 100vh;
    padding-top: 70px;
    background-color: rgba(0, 0, 0, .25);
}

.sidebar a {
    display: block;
    padding: 6px 20px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;
    color: #555;
}

.sidebar a:hover {
    color: #333;
}
